.channel-name-container {
    margin-bottom: 0.5rem;
}

.channel-name-input {
    margin-left: 10px;
    padding: 0.4rem;
    background-color: #37393e;
    border: 2px solid #3f4151;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

button {
    background: #5d61ed;
    border: none;
    color: white;
    font-size: 1em;
    width: fit-content;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    user-select: none;
}

button:hover {
    cursor: pointer;
    background: #6e72ee;
}
