.tags-input-container {
    background: #37393e;
    border: 2px solid #3f4151;
    border-radius: 3px;
    margin-top: 6px;
    margin-bottom: 2px;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.tag-item {
    background-color: #2b2b36;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px 8px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.8);
}
.tag-item:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.tag-item .close {
    height: 16px;
    width: 16px;
    color: #1a1924;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.tags-input-box {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
}
.search-filter-container {
    max-height: 150px;
    overflow-y: auto;
}
