.tags-input-container {
    border: 1px solid;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.tag-item {
    background-color: #2b2b36;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.8);
}
.tag-item:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.tag-item .close {
    height: 16px;
    width: 16px;
    background-color: rgb(48, 48, 48);
    display: inline-block;
}

.tags-input-box {
    background-color: #1a1924;
    border: none;
    color: rgba(255, 255, 255, 0.8);
}